__pycache__/
*.pyc
*.pyo

.git
.gitignore

.env
.env.*

tests/

app/data/bronze/
app/data/silver/
app/data/gold/
app/data/synthetic/

app/data/uploads/

app/data/model_artifacts/

app/data/faiss_index/

*.csv
*.xlsx
*.parquet
*.pkl
*.joblib

.vscode/
.idea/

.pytest_cache/
.mypy_cache/

